extends ../layout.jade

block content
	script(src='/js/jquery.event.drag-2.2.js')
	script(src='/js/jquery.event.drop-2.2.js')
	script(src='/js/masonry.pkgd.min.js')
	script(src='/js/imagesloaded.pkgd.min.js')
	- if(user && user.admin)
		div#dropableDiv
	div.container.image-container
		div#myId.clearfix
			div.clearfix
				- if(images.length < 1)
					div.text-center.initial-container
						a(href="javascript:void(0)" class="upload_link btn btn-danger") Browse Photos
						p Or drag &amp; drop photos anywhere on this page
				div.grid
					div.grid-sizer
					//- ul.cat-images.drop-img.clearfix
					each imgName in images
						div.grid-item.img-box
							a(href="/images/#{imgName.filename}" class="fancybox-button" rel="fancybox-button")
								img(src="/images/#{imgName.filename}")
							div.img-action
								span(aria-hidden="true" class="glyphicon glyphicon-ok-sign img-selector" id="#{imgName._id}" imgName="#{imgName.filename}")
								- if(imgIds.indexOf(imgName._id) > -1){
									span(aria-hidden="true" class="glyphicon glyphicon-heart fav-image fav" id="#{imgName._id}" imgName="#{imgName.filename}")
								- }else{
									span(aria-hidden="true" class="glyphicon glyphicon-heart fav-image" id="#{imgName._id}" imgName="#{imgName.filename}")
								- }
								a(href="/images/#{imgName.filename}" class="download-icon" download)
									span(class="glyphicon glyphicon-save")
						//- li
							div.img-box
								a(href="/images/#{imgName.filename}" class="fancybox-button" rel="fancybox-button")
									img(src="/images/thumb/#{imgName.filename}")
								span(aria-hidden="true" class="glyphicon glyphicon-ok-sign img-selector" id="#{imgName._id}" imgName="#{imgName.filename}")
								- if(imgIds.indexOf(imgName._id) > -1){
									span(aria-hidden="true" class="glyphicon glyphicon-heart fav-image fav" id="#{imgName._id}" imgName="#{imgName.filename}")
								- }else{
									span(aria-hidden="true" class="glyphicon glyphicon-heart fav-image" id="#{imgName._id}" imgName="#{imgName.filename}")
								- }
	div.container-fluid.tagssection

		h4 Tags

		div#tag-list
		
		input(value='' id='addnewtag')

		hr

		h4 Image Information

		#imgInformation

	div.popupImageDrag
		div.popupImgContainer
	div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
		div(class="modal-dialog" role="document")
			div.modal-content
				div.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4(class="modal-title" id="myModalLabel") Create Album
				div.modal-body
					label(for="categoryName") Album Name
					//- select.form-control(onchange="this.nextElementSibling.value=this.value")
					//- 	option(value="")
					//- 	option(value="xyz") xyz
					input(type="text" name="albumName" class="form-control" id="albumName" placeholder="Album Name" value="")
				div.modal-footer
					button(id="createAlbum" type="button" class="btn btn-primary") Create

	div(class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModal")
		div(class="modal-dialog" role="document")
			div.modal-content
				div.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4(class="modal-title" id="myModalLabel") File Rename
				div.modal-body
					div.form-group
						label(for="categoryName") File Name
						input(type="text" class="form-control" name="oldName" id="oldName" readonly)
						input(type="hidden" class="form-control" name="oldExtention" id="oldExtention" readonly)
					div.form-group
						label.ptm(for="categoryName") Rename
						input(type="text" name="newName" class="form-control" id="newName" placeholder="Rename" value="")
				div.modal-footer
					button(id="renameFile" type="button" class="btn btn-primary") Submit
	div(class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModal")
		div(class="modal-dialog" role="document")
			div.modal-content
				div.modal-header.no-border
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4(class="modal-title hide more-than-one-message" id="myModalLabel") You can't rename more one image at a time
					h4(class="modal-title" id="myModalLabel") Please select image for further action

	div.alert.alert-success.album-create-notification
		| successfully created album "
		span.album-name
		| ".
	
	link( rel='stylesheet', href='/stylesheets/jquery.fancybox.css' )
	link( rel='stylesheet', href='/images/source/helpers/jquery.fancybox-buttons.css' )
	link( rel='stylesheet', href='/images/source/helpers/jquery.fancybox-thumbs.css' )
	script(src='javascripts/jquery-mousewheel.js')
	script(src='javascripts/jquery.fancybox.pack.js')
	script(src='/images/source/helpers/jquery.fancybox-buttons.js')
	script(src='/images/source/helpers/jquery.fancybox-media.js')
	script(src='/images/source/helpers/jquery.fancybox-thumbs.js')
	script.
		$(document).ready(function() {
			$(".fancybox-button").fancybox({
				prevEffect		: 'none',
				nextEffect		: 'none',
				closeBtn		: false,
				helpers		: {
					title	: { type : 'inside' },
					buttons	: {}
				}
			});
			$( document )
				.drag("start",function( ev, dd ){
					console.log(11)
					return $('<div class="selection" />')
						.css('opacity', .45 )
						.appendTo( document.body );
				})
				.drag(function( ev, dd ){
					$( dd.proxy ).css({
						top: Math.min( ev.pageY, dd.startY ),
						left: Math.min( ev.pageX, dd.startX ),
						height: Math.abs( ev.pageY - dd.startY ),
						width: Math.abs( ev.pageX - dd.startX )
					});
				})
				.drag("end",function( ev, dd ){
					$( dd.proxy ).remove();
				});
			$('.img-box')
				.drop("start",function(){
					$( this ).find('.img-selector').addClass("selected");
				})
				.drop(function( ev, dd ){
					$( this ).find('.img-selector').toggleClass("active");
					$( this ).find('.img-action').toggleClass("selected");
				})
				.drop("end",function(){
					$( this ).find('.img-selector').removeClass("selected");
				});
			$.drop({ multi: true });
			var $grid = $('.grid').imagesLoaded( function() {
			  $grid.masonry({
			    itemSelector: '.grid-item',
			    percentPosition: true,
			    columnWidth: '.grid-sizer'
			  }); 
			});

		});